# 第2章: UNIXコマンドの基礎

hightemp.txtは，日本の最高気温の記録を「都道府県」「地点」「℃」「日」のタブ区切り形式で格納したファイルである．以下の処理を行うプログラムを作成し，hightemp.txtを入力ファイルとして実行せよ．さらに，同様の処理をUNIXコマンドでも実行し，プログラムの実行結果を確認せよ．

In [1]:
%cat hightemp.txt

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10
和歌山県	かつらぎ	40.6	1994-08-08
静岡県	天竜	40.6	1994-08-04
山梨県	勝沼	40.5	2013-08-10
埼玉県	越谷	40.4	2007-08-16
群馬県	館林	40.3	2007-08-16
群馬県	上里見	40.3	1998-07-04
愛知県	愛西	40.3	1994-08-05
千葉県	牛久	40.2	2004-07-20
静岡県	佐久間	40.2	2001-07-24
愛媛県	宇和島	40.2	1927-07-22
山形県	酒田	40.1	1978-08-03
岐阜県	美濃	40	2007-08-16
群馬県	前橋	40	2001-07-24
千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

In [2]:
import sys
import subprocess

def call(shell, enc=True):
    res = subprocess.Popen(shell, shell=True, stdout=subprocess.PIPE).communicate()
    return res[0].decode('utf-8') if enc else res[0]

with open('./hightemp.txt', 'r', encoding='utf-8') as f:
    text = f.read().strip()
    lines = text.split("\n")

### 10. 行数のカウント
行数をカウントせよ．確認にはwcコマンドを用いよ．

In [3]:
len(lines)

24

In [4]:
%cat hightemp.txt |wc -l |tr -d ' '

24

### 11. タブをスペースに置換
タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

In [5]:
print(text.replace("\t", " "))

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

In [6]:
%cat hightemp.txt |tr '\t' ' '

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

### 12. 1列目をcol1.txtに，2列目をcol2.txtに保存
各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．

In [7]:
import numpy as np
data = np.array([line.split("\t") for line in lines])
col1, col2 = data[:,:2].transpose()
with open('./col1.txt', 'w', encoding='utf-8') as fw:
    fw.write("\n".join(col1))
with open('./col2.txt', 'w', encoding='utf-8') as fw:
    fw.write("\n".join(col2))
%cat col1.txt
print("\n")
%cat col2.txt

高知県
埼玉県
岐阜県
山形県
山梨県
和歌山県
静岡県
山梨県
埼玉県
群馬県
群馬県
愛知県
千葉県
静岡県
愛媛県
山形県
岐阜県
群馬県
千葉県
埼玉県
大阪府
山梨県
山形県
愛知県

江川崎
熊谷
多治見
山形
甲府
かつらぎ
天竜
勝沼
越谷
館林
上里見
愛西
牛久
佐久間
宇和島
酒田
美濃
前橋
茂原
鳩山
豊中
大月
鶴岡
名古屋

In [8]:
cat hightemp.txt |cut -f1

高知県
埼玉県
岐阜県
山形県
山梨県
和歌山県
静岡県
山梨県
埼玉県
群馬県
群馬県
愛知県
千葉県
静岡県
愛媛県
山形県
岐阜県
群馬県
千葉県
埼玉県
大阪府
山梨県
山形県
愛知県

In [9]:
cat hightemp.txt |cut -f2

江川崎
熊谷
多治見
山形
甲府
かつらぎ
天竜
勝沼
越谷
館林
上里見
愛西
牛久
佐久間
宇和島
酒田
美濃
前橋
茂原
鳩山
豊中
大月
鶴岡
名古屋

### 13. col1.txtとcol2.txtをマージ
12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．

In [10]:
import numpy as np
with open('./col1.txt', 'r', encoding='utf-8') as f:
    col1 = f.read().split("\n")
with open('./col2.txt', 'r', encoding='utf-8') as f:
    col2 = f.read().split("\n")
d = np.array([col1, col2]).transpose()
txt = "\n".join(["\t".join(v) for v in d])
with open('./col1_2.txt', 'w', encoding='utf-8') as f:
    f.write(txt)
%cat col1_2.txt

高知県	江川崎
埼玉県	熊谷
岐阜県	多治見
山形県	山形
山梨県	甲府
和歌山県	かつらぎ
静岡県	天竜
山梨県	勝沼
埼玉県	越谷
群馬県	館林
群馬県	上里見
愛知県	愛西
千葉県	牛久
静岡県	佐久間
愛媛県	宇和島
山形県	酒田
岐阜県	美濃
群馬県	前橋
千葉県	茂原
埼玉県	鳩山
大阪府	豊中
山梨県	大月
山形県	鶴岡
愛知県	名古屋

In [11]:
print(call('paste col1.txt col2.txt'))

高知県	江川崎
埼玉県	熊谷
岐阜県	多治見
山形県	山形
山梨県	甲府
和歌山県	かつらぎ
静岡県	天竜
山梨県	勝沼
埼玉県	越谷
群馬県	館林
群馬県	上里見
愛知県	愛西
千葉県	牛久
静岡県	佐久間
愛媛県	宇和島
山形県	酒田
岐阜県	美濃
群馬県	前橋
千葉県	茂原
埼玉県	鳩山
大阪府	豊中
山梨県	大月
山形県	鶴岡
愛知県	名古屋

### 14. 先頭からN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ．

In [12]:
def print_head_for(n):
    print("\n".join(lines[:n]))
# n = sys.argv[1]
n = 4
print_head_for(4)

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25

In [13]:
print(call('head -n 4 hightemp.txt'))

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25

### 15. 末尾のN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ．

In [14]:
def print_foot_for(n):
    print("\n".join(lines[-n:]))
# n = sys.argv[1]
n = 4
print_foot_for(4)

大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

In [15]:
print(call('tail -n 4 hightemp.txt'))

大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

### 16. ファイルをN分割する
自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ．

In [16]:
def print_split_chunk(n):
    chunks = []
    t = len(lines) / n
    for i in range(n):
        chunks.append(lines[int(i * t): int((i + 1) * t)])
    return chunks
# n = sys.argv[1]
n = 4
cs = print_split_chunk(3)
print("\n\n".join(["\n".join(v) for v in cs]))

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10
和歌山県	かつらぎ	40.6	1994-08-08
静岡県	天竜	40.6	1994-08-04
山梨県	勝沼	40.5	2013-08-10

埼玉県	越谷	40.4	2007-08-16
群馬県	館林	40.3	2007-08-16
群馬県	上里見	40.3	1998-07-04
愛知県	愛西	40.3	1994-08-05
千葉県	牛久	40.2	2004-07-20
静岡県	佐久間	40.2	2001-07-24
愛媛県	宇和島	40.2	1927-07-22
山形県	酒田	40.1	1978-08-03

岐阜県	美濃	40	2007-08-16
群馬県	前橋	40	2001-07-24
千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

In [17]:
print(call('split -l $(expr $(cat hightemp.txt | wc -l |tr -d " ") / 3) hightemp.txt q16_'))
print(call('grep "" q16_*'))

q16_aa:高知県	江川崎	41	2013-08-12
q16_aa:埼玉県	熊谷	40.9	2007-08-16
q16_aa:岐阜県	多治見	40.9	2007-08-16
q16_aa:山形県	山形	40.8	1933-07-25
q16_aa:山梨県	甲府	40.7	2013-08-10
q16_aa:和歌山県	かつらぎ	40.6	1994-08-08
q16_aa:静岡県	天竜	40.6	1994-08-04
q16_aa:山梨県	勝沼	40.5	2013-08-10
q16_ab:埼玉県	越谷	40.4	2007-08-16
q16_ab:群馬県	館林	40.3	2007-08-16
q16_ab:群馬県	上里見	40.3	1998-07-04
q16_ab:愛知県	愛西	40.3	1994-08-05
q16_ab:千葉県	牛久	40.2	2004-07-20
q16_ab:静岡県	佐久間	40.2	2001-07-24
q16_ab:愛媛県	宇和島	40.2	1927-07-22
q16_ab:山形県	酒田	40.1	1978-08-03
q16_ac:岐阜県	美濃	40	2007-08-16
q16_ac:群馬県	前橋	40	2001-07-24
q16_ac:千葉県	茂原	39.9	2013-08-11
q16_ac:埼玉県	鳩山	39.9	1997-07-05
q16_ac:大阪府	豊中	39.9	1994-08-08
q16_ac:山梨県	大月	39.9	1990-07-19
q16_ac:山形県	鶴岡	39.9	1978-08-03
q16_ac:愛知県	名古屋	39.9	1942-08-02

### 17. １列目の文字列の異なり
1列目の文字列の種類（異なる文字列の集合）を求めよ．確認にはsort, uniqコマンドを用いよ．

In [18]:
print("\n".join(sorted(set(col1.tolist()))))

AttributeError: 'list' object has no attribute 'tolist'

In [19]:
cat hightemp.txt |cut -f1 |sort |uniq

千葉県
埼玉県
大阪府
山形県
山梨県
岐阜県
愛媛県
愛知県
群馬県
静岡県
高知県
和歌山県

### 18. 各行を3コラム目の数値の降順にソート
各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．確認にはsortコマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）．

In [20]:
temp_sorted = sorted(data.tolist(), key=lambda x: x[2])
print("\n".join([" \t".join(v) for v in temp_sorted]))

千葉県 	茂原 	39.9 	2013-08-11
埼玉県 	鳩山 	39.9 	1997-07-05
大阪府 	豊中 	39.9 	1994-08-08
山梨県 	大月 	39.9 	1990-07-19
山形県 	鶴岡 	39.9 	1978-08-03
愛知県 	名古屋 	39.9 	1942-08-02
岐阜県 	美濃 	40 	2007-08-16
群馬県 	前橋 	40 	2001-07-24
山形県 	酒田 	40.1 	1978-08-03
千葉県 	牛久 	40.2 	2004-07-20
静岡県 	佐久間 	40.2 	2001-07-24
愛媛県 	宇和島 	40.2 	1927-07-22
群馬県 	館林 	40.3 	2007-08-16
群馬県 	上里見 	40.3 	1998-07-04
愛知県 	愛西 	40.3 	1994-08-05
埼玉県 	越谷 	40.4 	2007-08-16
山梨県 	勝沼 	40.5 	2013-08-10
和歌山県 	かつらぎ 	40.6 	1994-08-08
静岡県 	天竜 	40.6 	1994-08-04
山梨県 	甲府 	40.7 	2013-08-10
山形県 	山形 	40.8 	1933-07-25
埼玉県 	熊谷 	40.9 	2007-08-16
岐阜県 	多治見 	40.9 	2007-08-16
高知県 	江川崎 	41 	2013-08-12

In [21]:
cat hightemp.txt |sort -k3

愛知県	名古屋	39.9	1942-08-02
山形県	鶴岡	39.9	1978-08-03
山梨県	大月	39.9	1990-07-19
大阪府	豊中	39.9	1994-08-08
埼玉県	鳩山	39.9	1997-07-05
千葉県	茂原	39.9	2013-08-11
群馬県	前橋	40	2001-07-24
岐阜県	美濃	40	2007-08-16
山形県	酒田	40.1	1978-08-03
愛媛県	宇和島	40.2	1927-07-22
静岡県	佐久間	40.2	2001-07-24
千葉県	牛久	40.2	2004-07-20
愛知県	愛西	40.3	1994-08-05
群馬県	上里見	40.3	1998-07-04
群馬県	館林	40.3	2007-08-16
埼玉県	越谷	40.4	2007-08-16
山梨県	勝沼	40.5	2013-08-10
静岡県	天竜	40.6	1994-08-04
和歌山県	かつらぎ	40.6	1994-08-08
山梨県	甲府	40.7	2013-08-10
山形県	山形	40.8	1933-07-25
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
高知県	江川崎	41	2013-08-12

### 19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる
各行の1列目の文字列の出現頻度を求め，その高い順に並べて表示せよ．確認にはcut, uniq, sortコマンドを用いよ．

In [22]:
dics = {}
for col in col1:
    if col not in dics:
        dics[col] = 0
    dics[col] += 1
print("\n".join(k for k, v in sorted(dics.items(), key=lambda x: -x[1])))

山形県
群馬県
山梨県
埼玉県
岐阜県
静岡県
千葉県
愛知県
和歌山県
愛媛県
高知県
大阪府

In [23]:
cat hightemp.txt |cut -f1 |sort |uniq -c |sed -e 's/^ *//' |sort -n -k1 -r |cut -d ' ' -f 2

群馬県
山梨県
山形県
埼玉県
静岡県
愛知県
岐阜県
千葉県
和歌山県
高知県
愛媛県
大阪府